pytorch-lightning
learn2learn
comet-ml
resemblyzer
g2p-en
inflect
librosa
matplotlib
numba
numpy==1.19.2
pypinyin
pyworld
PyYAML
scikit-learn
scipy
soundfile
tensorboard
tgt
torch
tqdm
unidecode
torchaudio
seaborn
