pytorch-lightning[extra]
learn2learn
comet-ml
resemblyzer
g2p-en
inflect
librosa
matplotlib
numba
numpy
pypinyin
pyworld
PyYAML
scikit-learn
scipy
soundfile
tensorboard
tgt
torch
tqdm
unidecode
torchaudio

# Evaluation
seaborn
mel-cepstral-distance
-e git+https://github.com/aliutkus/speechmetrics#egg=speechmetrics[gpu]
